<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>The Avengers</title>
</head>
<div style="margin-top: 1%;" >
  <img src="assets/CAGIF.gif" class="GIF left" alt="Left GIF"><img src="assets/IMGIF.gif" class="GIF right" alt="Right GIF">
  <div class="centered-container"><a href="https://www.marvel.com/characters/captain-america-steve-rogers"><img src="assets/wp11023997.jpg" style="height: 100%; width: 60%; margin-left: 20%;" class="smoothsmooth-image" alt="No Image Found!!"></a></div>
  </div>
   
<body>  
 <!-- Background Audio -->
 <audio loop autoplay [volume]=".50" src="assets/Avengers-Theme.mp3" type="mp3"></audio>
 
   <div style="background-image: url(assets/armor.jpg); height: 1080px; width: 1349px;">
    <!-- <div class="content"> -->
    <!-- <img src="assets/armor.jpg" style="width: 1349px; z-index: 5;;" alt="No Image Found!!"> -->
    <!-- <input type="text" placeholder="Name" style=" display: inline-flexbox; z-index: 1;"> -->
    <!-- <div class="overlay">
      <div class="login-form">
        <h2>Login</h2>
        <form>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          
          <button type="submit">Login</button>
        </form>
      </div>
    </div> -->
     
    <!-- </div> -->

    <div class="button-container">
      <!-- <router-outlet></router-outlet>
      <button routerLink="/cap-america">Home</button>
      <button routerLink="/about">About</button>
      <button routerLink="/services">Services</button>
      <button routerLink="/contact-us">Contact Us</button> -->

      <!-- <button class="trimmed-button top-left">Home</button>
      <button class="trimmed-button top-left">About</button>
      <button class="trimmed-button top-left">Services</button>
      <button class="trimmed-button top-left">Contact Us</button> -->
    </div>

    <div class="grid-container2" style="margin-top: 4%;">
      <!-- <div class="center">
        <div class="outer button">
            -->
      <div class="grid-item2" ><a href="https://www.marvel.com/characters/captain-america-steve-rogers"><img class="hover-image" src="assets/CA.jpg" alt="Image 1"></a></div>
      <!-- <span></span>
           <span></span>
        </div></div> -->
      <div class="grid-item2" style="margin-left: 240px;"><a href="https://www.marvel.com/characters/iron-man-tony-stark"><img class="hover-image" src="assets/IM.jpg" alt="Image 2"></a></div>
    </div>
      <div class="grid-container">
      <div class="grid-item"><a href="https://www.marvel.com/characters/thor-thor-odinson"><img class="hover-image" src="assets/Thor.jpg" alt="Image 3"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/hulk-bruce-banner"><img class="hover-image" src="assets/hulk.jpg" alt="Image 4"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/the-amazing-spider-man"><img class="hover-image" src="assets/SM.jpg" alt="Image 5"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/ant-man-scott-lang"><img class="hover-image" src="assets/AM.jpg" alt="Image 6"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/black-panther-t-challa"><img class="hover-image" src="assets/BP.jpg" alt="Image 7"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/thanos"><img class="hover-image" src="assets/Thanos.jpg" alt="Image 8"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/hawkeye-clint-barton"><img class="hover-image" src="assets/HE.jpg" alt="Image 9"></a></div>
      <div class="grid-item"><a href="https://www.marvel.com/characters/ultron"><img class="hover-image" src="assets/ultron.jpg" alt="Image 10"></a></div>
      <!-- <div class="grid-item"><img src="assets/Thor.jpg" alt="Image 9"></div> -->
    </div>
  
  
    
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>